<div class="achievement">
  <div class="achievement-detail">
    <p>
      <strong> 2022 National Defense Public Data Startup Challenge </strong>
      🏆 Grand Prize
    </p>
    <em>
      Defense Acquisition Program Administration & Military Manpower
      Administration
    </em>
    <p>Sep 2022</p>
    <p>
      <a href="https://github.com/R3gardless/enlistpedia"
        ><i class="fab fa-github"></i> Github Link</a
      >
    </p>
  </div>
  <div class="achievement-detail mb-0">
    <p>
      <strong> Industrial Engineer Information Processing </strong>
    </p>
    <em> Ministry of Science and ICT </em>
    <p>Aug 2020</p>
  </div>
</div>
