<div class="education">
  <div class="education-detail mb-4">
    <p>
      <strong>
        <a href="https://www.skku.edu/skku/index.do"
          >SungKyunKwan University
        </a> </strong
      >Suwon, Gyeonggi, Korea
    </p>
    <em>Mar 2018 ~ Presents</em>
    <p>📚 B.S in Computer Science and Engineering</p>
    <small>Data Structures B+</small>
    <small>System Program A</small>
    <small>Algorithms A+</small>
    <small>Introduction to Computer Architectures B+</small>
    <small>Operating Systems A+</small>
    <small>Programming Languages A+</small>
    <small>Computer Networks A</small>
  </div>
  <div class="education-detail">
    <p>
      <strong>
        <a href="http://www.cnsh.cnehs.kr/main.do"
          >Chungnam Science High School
        </a> </strong
      >Gongju, Chungnam, Korea
    </p>
    <em>Mar 2016 ~ Feb 2018</em>
    <p>✏️ H.S.D in Mathematics</p>
  </div>
</div>
